---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro';
import Experience from '../sections/Experience.astro';
import Skills from '../sections/Skills.astro';
import Projects from '../sections/Projects.astro';
import Contact from '../sections/Contact.astro';
import Footer from '../sections/Footer.astro';
import Dialog from '../components/Dialog.astro';
---
<Layout>
	<Dialog />
	<Header />
	<main class="flex flex-col justify-center">
		<Hero />
		<About />
		<Experience />
		<Skills />
		<Projects />
		<Contact />
	</main>
	<Footer />
</Layout>
