<section id="about" class="flex flex-col items-center justify-center scroll-mt-[100px]">
    <div class="flex flex-col justify-center max-w-7xl px-5 py-8 lg:py-16 gap-6">
        <h2 class="text-2xl lg:text-4xl font-bold text-title">Sobre Mi</h2>
        <p class="text-lg text-text text-balance">Soy un desarrollador web con 2 años de experiencia formándome de manera autodidacta en React, Laravel y Astro. Me apasiona crear interfaces modernas, rápidas y bien estructuradas, cuidando tanto la parte visual como la lógica detrás del código. Siempre busco mejorar mis habilidades y mantenerme al día con las últimas tecnologías del ecosistema web.</p>
    </div>
</section>