---
import Linkedin from "../icons/Linkedin.astro";
import Mail from "../icons/Mail.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import Github from "../icons/Github.astro";
---

<section id="contact" class="flex flex-col items-center justify-center scroll-mt-[100px]">
    <div class="flex flex-col justify-center max-w-7xl px-5 py-8 lg:py-16 gap-6">
        <h2 class="text-2xl lg:text-4xl font-bold text-title">Contacto</h2>
        <p class="text-text text-center px-5 lg:px-10">¿Hablamos? Estoy disponible para nuevos proyectos, colaboraciones o cualquier consulta. Construyamos algo increíble juntos. Ponte en contacto conmigo y hablemos sobre tu idea.</p>
        <span class="flex flex-col lg:flex-row items-center justify-center gap-5 lg:gap-10">
            <a href="mailto:agomzlodev@gmail.com" target="_blank" class="size-full lg:size-auto flex flex-1 flex-col items-center gap-2 border border-text/25 rounded-md px-4 py-2 hover:border-text hover:scale-105 transition-all">
                <Mail class="size-14 text-title" />
                <p class="text-text">Mandame un Email</p>
            </a>
            <a href="https://wa.me/610862263" target="_blank" class="size-full lg:size-auto flex flex-1 flex-col items-center gap-2 border border-text/25 rounded-md px-4 py-2 hover:border-text hover:scale-105 transition-all">
                <Whatsapp class="size-14 text-title" />
                <p class="text-text">Mandame un Whatsapp</p>
            </a>
            <a href="https://linkedin.com/in/agomzlo" target="_blank" class="size-full lg:size-auto flex flex-1 flex-col items-center gap-2 border border-text/25 rounded-md px-4 py-2 hover:border-text hover:scale-105 transition-all">
                <Linkedin class="size-14 text-title" />
                <p class="text-text">Encuentrame en LinkedIn</p>
            </a>
            <a href="https://github.com/agomzlo" target="_blank" class="size-full lg:size-auto flex flex-1 flex-col items-center gap-2 border border-text/25 rounded-md px-4 py-2 hover:border-text hover:scale-105 transition-all">
                <Github class="size-14 text-title" />
                <p class="text-text">Encuentrame en GitHub</p>
            </a>
        </span>
    </div>
</section>