<footer class="flex flex-row justify-center items-center z-50 w-full py-5 px-2.5">
    <div class="max-w-[1200px] size-full flex flex-col lg:flex-row justify-between items-center gap-2">
        <p class="text-text text-lg text-center lg:text-left">Desarrollado por Agomzlodev</p>
        <p class="text-text text-lg text-center lg:text-right">© {new Date().getFullYear()} Agomzlodev. Todos los derechos reservados.</p>
    </div>
</footer>